.collapse {
    margin: 40px 0px 20px 0px;
    padding: 0;

    ul {
        list-style-type: none;
        @include font-style('Montserrat', 24px, 700, 34px, $terciero-color);
        border-radius: 5px;
        @include flex-structure();
        justify-content: center; 
        
    }

    .svg-inline--fa {
        font-size: 24px;
        transition: transform 0.6s ease;
        color: $terciero-color;
        cursor: pointer;
    }

    .rotate-down {
        transform: rotate(360deg);
    }

    .rotate-up {
        transform: rotate(0deg);
    }

    p {
        @include font-style('Montserrat', 17px, 500, 34px, $primary-color);
        text-align: justify;
        padding: 20px 20px;
        margin: auto;
    }

    &.logements {
       
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 60px; 

        .sectionlogements {
            display: flex;
            flex-direction: column; 
            width: 100%;
        }
        
        .section-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px 10px 10px;
            background-color: $qater-color; 
            border-radius: 5px;
            
            &:span {
                border-radius: 25px;
            }
        }

        .section-title span {
            @include font-style('Montserrat', 18px, 700, 25px, $terciero-color);
        }

        .section-title .svg-inline--fa {
            margin-left: 10px; 
        }

        .contents {
            display: flex;
            justify-content: flex-start;
            background-color: $secondary-color;
            padding: 20px 20px;
            transition: max-height 0.5s ease, opacity 0.5s ease; 
            overflow: hidden; 
            max-height: 0; 
            opacity: 0; 
            height: -webkit-fill-available;
        }

        // Classe pour translation vers le bas
.translate-down {
    max-height: 500px; 
    opacity: 1; 
}

// Classe pour translation vers le haut
.translate-up {
    max-height: 0; 
    
}

        .list {
            @include font-style('Montserrat', 17px, 500, 34px, $primary-color);
            width: 100%;
        }
    }
}

/* Media queries pour la version mobile */
@media (max-width: 767px) {
    .collapse {
        margin: 0;
        
        ul {
            padding: 5px 15px;
            margin: 25px 0;
            @include font-style('Montserrat', 13px, 700, 18px, $terciero-color);
        }

        &.logements {
            display: flex;
            flex-direction: column;
            gap: 10px; 

            .section-title {
                flex-direction: row; 
            }

            .section-title span {
                font-size: 13px; 
            }

            .section-title .svg-inline--fa {
                font-size: 20px; 
            }

            .list {
                width: auto;
                margin-top: 0; 
            }
        }
    }
}
