/*definir les variables pour eviter la repetition*/

$primary-color: rgba(0, 0, 0, 1);
$secondary-color:rgba(246, 246, 246, 1);
$terciero-color :rgba(255, 255, 255, 1);
$qater-color: rgba(255, 96, 96, 1);